<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/vendors/iconfonts/puse-icons-feather/feather.css">
    <link rel="stylesheet" href="../../static/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../static/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="../../static/vendors/iconfonts/ti-icons/css/themify-icons.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/css/shared/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../static/images/logo.jpg" /> </head>
  <body>
    <div class="container-scroller landing-page">
      <div class="container-fluid top-banner">
        <nav class="navbar navbar-expand-lg bg-transparent">
          <div class="row flex-grow">
            <div class="col-md-8 d-lg-flex flex-row mx-auto">
              <button class="navbar-toggler collapsed float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon ti ti-menu text-white"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link btn btn-link" href='..'>HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-link" href="../login">LOGIN</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <div class="row top-banner-content">
          <div class="col-md-8 mx-auto">
            <div class="row">
              <div class="col-lg-7">
                <h1 class="mr-2 text-white"> Toda la informacion de los mejores eventos de la UNAM. AQUI!!!! xD </h1>
                <h3 class="font-weight-light text-white"> UNAM eventos. </h3>
                  <h1>
                    Yo soy tú, tú eres yo, juntos somos el universo...
                  </h1>
                  <h2 class="mr-2 text-white">Galeana Araujo Emiliano</h2>
                  <h2 class="mr-2 text-white">Macías Gómez Jorge</h2>
                  <h2 class="mr-2 text-white">Torres Bucio Miriam</h2>
                  <h2 class="mr-2 text-white">Velez Cardenas Juan Luis Guillermo</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="container-fluid footer">
        <div class="row pb-5 text-white footer-top">
          <div class="col-md-8 mx-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="row contact-details">
                  <div class="col-12 d-flex mb-3">
                    <i class="ti-mobile mr-4"></i>
                    <h6 class="font-weight-normal">(+52)5531407750</h6>
                  </div>
                  <div class="col-12 d-flex mb-3">
                    <i class="ti-settings mr-4"></i>
                    <h6 class="font-weight-normal">pumaeventos@unam.mx</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <!-- <h6>Newsletter</h6> -->
                <p>Para más opciones, por favor, regístrate.</p>
                <div class="mt-3">
                <li class="nav-item">
                  <a class="nav-link btn btn-link" href="login">LOGIN</a> TODO
                  <!-- cambiar a signup -->
                </li>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../static/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../static/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../static/js/shared/off-canvas.js"></script>
    <script src="../../static/js/shared/hoverable-collapse.js"></script>
    <script src="../../static/js/shared/misc.js"></script>
    <script src="../../static/js/shared/settings.js"></script>
    <script src="../../static/js/shared/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
  </body>
</html>
