<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Unam Eventos app</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../../static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../static/vendors/iconfonts/puse-icons-feather/feather.css">
    <link rel="stylesheet" href="../../../static/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../../static/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../../static/css/shared/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../../static/images/favicon.png" /> </head>
  <body class="dark-theme sidebar-dark">
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-4 mx-auto">
              <div class="auto-form-wrapper">
                <form method="post" action="#">
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="label">Email</label>                    
                    {% if form.username.value %}
                    <div class="input-group">
                      <input type="email" class="form-control" name="username" value="{{ form.usermane.value }}" placeholder="Email">
                      <div class="input-group-append">
                        <span class="input-group-text">
                        </span>
                      </div>
                    </div>
                    {% else %}
                    <div class="input-group">
                      <input type="email" class="form-control" name="username" placeholder="Email">
                      <div class="input-group-append">
                        <span class="input-group-text">
                        </span>
                      </div>
                    </div>
                    {% endif %}
                    {% if form.username.errors %}
                    {% for error in form.username.errors %}
                    <div class="input-error">
                      {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                  </div>
                  <div class="form-group">
                    <label class="label">Contraseña</label>
                    <div class="input-group">
                      <input type="password" class="form-control" name="password" placeholder="*********" required>
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary submit-btn btn-block">Iniciar Sesion</button>
                  </div>
                  <div class="form-group d-flex justify-content-between">
                    <a href="#" class="text-small forgot-password text-black">Olvidaste tu contraseña?</a>
                  </div>
                  
                  <div class="text-block text-center my-3">
                    <span class="text-small font-weight-semibold">No tienes cuenta?</span>
                    <a href="/register/" class="text-black text-small">Registrarse</a>
                  </div>
              </div>
              <ul class="auth-footer">
                <li>
                  <a href="/about/">Acerda de nosotros</a>
                </li>
              </ul>
              <p class="footer-text text-center">copyright © 2018. Todos los derechos reservados.</p>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script>
      alert('{{ message }}');
    </script>
    <script src="../../../static/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../../static/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="../../../static/js/shared/off-canvas.js"></script>
    <script src="../../../static/js/shared/hoverable-collapse.js"></script>
    <script src="../../../static/js/shared/misc.js"></script>
    <script src="../../../static/js/shared/settings.js"></script>
    <script src="../../../static/js/shared/todolist.js"></script>
    <!-- endinject -->
  </body>
</html>
