<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registro PumaEventos</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../../static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../static/vendors/iconfonts/puse-icons-feather/feather.css">
    <link rel="stylesheet" href="../../../static/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../../static/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../../static/css/shared/style.css">
    <link rel="stylesheet" href="../../../static/css/shared/test.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../../static/css/demo_1/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="../../../static/images/favicon.png" /> </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-4 mx-auto">
              <h2 class="text-center mb-4">Registro</h2>
              <div class="auto-form-wrapper">
                <form method="post" action="#" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="label">Nombre</label>
                    {% if form.first_name.value %}
                    <div class="input-group">
                      <input type="text" class="form-control" name="first_name" value="{{ form.first_name.value }}" placeholder="Nombre">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <!--<i class="mdi mdi-check-circle-outline"></i>-->
                        </span>
                      </div>
                    </div>
                    {% else %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="first_name" placeholder="Nombre">
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <!--<i class="mdi mdi-check-circle-outline"></i>-->
                          </span>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group">
                    <label class="label">Apellido</label>
                    {% if form.last_name.value %}
                    <div class="input-group">
                      <input type="text" class="form-control" name="last_name" value="{{ form.last_name.value }}" placeholder="Apellido">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <!--<i class="mdi mdi-check-circle-outline"></i>-->
                        </span>
                      </div>
                    </div>
                    {% else %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="last_name" placeholder="Apellidos">
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <!--<i class="mdi mdi-check-circle-outline"></i>-->
                          </span>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group">
                    <label class="label">Email</label>
                    {% if form.email.value %}
                    <div class="input-group">
                      <input type="email" class="form-control" name="email" value="{{ form.email.value }}" placeholder="Email">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <!--<i class="mdi mdi-check-circle-outline"></i>-->
                        </span>
                      </div>
                    </div>
                    {% else %}
                    <div class="input-group">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <!--<i class="mdi mdi-check-circle-outline"></i>-->
                          </span>
                        </div>
                      </div>
                    {% endif %}
                    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                    <div class="input-error">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                  </div>
                  
                  <!-- if form.email.value //checha si hay un valor ya dado y lo regresa, mantiene los datos
                  value={{ form.email.value }}

                  {% if form.email.errors %}
                  {% for error in form. %}
                  div class email-errors>
                  {{error}}
                  {% endfor %}
                  {% endif %}
                  -->
                  <div class="form-group">
                    <button class="btn btn-primary submit-btn btn-block">Confirmar</button>
                  </div>
                  <div class="text-block text-center my-3">
                    <span class="text-small font-weight-semibold">Already have and account ?</span>
                    <a href="login" class="text-black text-small">Login</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../../static/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../../static/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="../../../static/js/shared/off-canvas.js"></script>
    <script src="../../../static/js/shared/hoverable-collapse.js"></script>
    <script src="../../../static/js/shared/misc.js"></script>
    <script src="../../../static/js/shared/settings.js"></script>
    <script src="../../../static/js/shared/todolist.js"></script>
    <!-- endinject -->
  </body>
</html>