<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Eventos</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../../static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../static/vendors/iconfonts/puse-icons-feather/feather.css">
    <link rel="stylesheet" href="../../../static/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../../static/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../../static/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../../static/css/demo_1/style.css">
    <link rel="stylesheet" href="../../../static/css/demo_3/dark-theme.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="../../../static/images/favicon.png" /> </head>
  <body class="dark-theme sidebar-dark">
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      {% include '../../partials/_navbar.html' %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
          {% include '../../partials/_settings-panel.html' %}
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
          {% include '../../partials/_sidebar.html' %}   
        <!-- partial -->

        <!-- AQUI va el codigo base!! -->

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <h1>Categorias</h1>
                    <div class="row">
                      <div class="col-12">
                        <div class="row portfolio-grid">
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <figure class="effect-text-in">
                              <img src="../../../static/images/events/arte.jpg" alt="image" width="300" height="300"/>
                              <figcaption>
                                <h4>Arte</h4>
                                <p>Los mejores eventos en la UNAM.</p>
                              </figcaption>
                            </figure>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <figure class="effect-text-in">
                              <img src="../../../static/images/events/ciencia.jpg" alt="image" width="300" height="300"/>
                              <figcaption>
                                <h4>Ciencias</h4>
                                <p>Los mejores eventos en la UNAM.</p>
                              </figcaption>
                            </figure>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <figure class="effect-text-in">
                              <img src="../../../static/images/events/cine.jpg" alt="image" width="300" height="300"/>
                              <figcaption>
                                <h4>Cine</h4>
                                <p>Los mejores eventos en la UNAM.</p>
                              </figcaption>
                            </figure>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <figure class="effect-text-in">
                              <img src="../../../static/images/events/conferencias.jpg" alt="image" width="300" height="300"/>
                              <figcaption>
                                <h4>Conferencias</h4>
                                <p>Los mejores eventos en la UNAM.</p>
                              </figcaption>
                            </figure>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <figure class="effect-text-in">
                              <img src="../../../static/images/events/congresos.jpg" alt="image" width="300" height="300"/>
                              <figcaption>
                                <h4>Congresos</h4>
                                <p>Los mejores eventos en la UNAM.</p>
                              </figcaption>
                            </figure>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <figure class="effect-text-in">
                              <img src="../../../static/images/events/deporte.jpg" alt="image" width="300" height="300"/>
                              <figcaption>
                                <h4>Deportes</h4>
                                <p>Los mejores eventos en la UNAM.</p>
                              </figcaption>
                            </figure>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <figure class="effect-text-in">
                              <img src="../../../static/images/events/musica.jpg" alt="image" width="300" height="300"/>
                              <figcaption>
                                <h4>Musica</h4>
                                <p>Los mejores eventos en la UNAM.</p>
                              </figcaption>
                            </figure>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <figure class="effect-text-in">
                              <img src="../../../static/images/events/otros.jpg" alt="image" width="300" height="300"/>
                              <figcaption>
                                <h4>Otros</h4>
                                <p>Los mejores eventos en la UNAM.</p>
                              </figcaption>
                            </figure>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <figure class="effect-text-in">
                              <img src="../../../static/images/events/star_wars.png" alt="image" width="300" height="300"/>
                              <figcaption>
                                <h4>#STARWARS</h4>
                                <p>Los mejores eventos en la UNAM.</p>
                              </figcaption>
                            </figure>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <figure class="effect-text-in">
                              <img src="../../../static/images/events/teatro.jpg" alt="image" width="300" height="300"/>
                              <figcaption>
                                <h4>Teatro</h4>
                                <p>Los mejores eventos en la UNAM.</p>
                              </figcaption>
                            </figure>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <figure class="effect-text-in">
                              <img src="../../../static/images/events/tecnologia.jpg" alt="image" width="300" height="300"/>
                              <figcaption>
                                <h4>Tecnologia</h4>
                                <p>Los mejores eventos en la UNAM.</p>
                              </figcaption>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <!-- AQUI Termina el codigo base!! -->

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          {% include '../../partials/_footer.html' %}
          <!-- partial -->
        <!-- main-panel ends -->
        </div>
      <!-- page-body-wrapper ends -->
      </div>
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../../../static/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../../static/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../../static/js/shared/off-canvas.js"></script>
    <script src="../../../static/js/shared/hoverable-collapse.js"></script>
    <script src="../../../static/js/shared/misc.js"></script>
    <script src="../../../static/js/shared/settings.js"></script>
    <script src="../../../static/js/shared/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
  </body>
</html>
