<link rel="stylesheet" href="../../../static/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />

{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          {% if user.usuario.avatar == null or user.usuario.avatar == "" %}
          <div class="profile-image">
            <img src="../../static/images/faces/perrito.jpg" alt="profile image">
          </div>
          {% else %}
          <div class="profile-image">
            <img src="{{ user.usuario.avatar.url }}" width="1000px">
          </div>
          {% endif %}
          
          <div class="text-wrapper">
            <p class="profile-name">{{ user }}</p>
          </div>
        </div>
        {% if user.usuario.es_Organizador == True %}
        <button onclick="window.location.href = '/eventos/all';" class="btn btn-success btn-sm btn-block">Mis Eventos </button>
        {% else %}
        {% endif %}
        <div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/../../eventos/all">
        <i class="menu-icon fa fa-tag"></i>
        <span class="menu-title">Todos los eventos</span>
      </a>
    </li>
    {% if user.usuario.es_Organizador == True %}
    <li class="nav-item">
      <a class="nav-link" href="/../../eventos/misEventos">
        <i class="menu-icon fa fa-tag"></i>
        <span class="menu-title">Mis Eventos Organizados</span>
      </a>
    </li>
    {% else %}
    {% endif %}
    {% if user.usuario.es_Organizador == True %}
    <li class="nav-item">
      <a class="nav-link" href="/../../MisStaffs/listStaffs">
        <i class="menu-icon fa fa-user-o"></i>
        <span class="menu-title">Mis Staffs</span>
      </a>
    </li>
    {% else %}
    {% endif %}
    {% if user.usuario.es_Organizador == True %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'createEvent' %}">
      <!-- <a class="nav-link" href="/../../MisStaffs/listStaffs"> -->
        <i class="menu-icon fa fa-calendar-o"></i>
        <span class="menu-title">Crear Evento</span>
      </a>
    </li>
    {% else %}
    {% endif %}    
    <li class="nav-item">
      <a class="nav-link" href="/../../eventos/home">
        <i class="menu-icon fa fa-tags"></i>
        <span class="menu-title">Categorias</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search/?q=arte">
        <i class="menu-icon fa fa-image"></i>
        <span class="menu-title">Arte</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search/?q=ciencias">
        <i class="menu-icon fa fa-flask"></i>
        <span class="menu-title">Ciencias</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search/?q=cine">
        <i class="menu-icon fa fa-video-camera"></i>
        <span class="menu-title">Cine</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search/?q=conferencias">
        <i class="menu-icon fa fa-comments"></i>
        <span class="menu-title">Conferencias</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search/?q=congresos">
        <i class="menu-icon fa fa-gavel"></i>
        <span class="menu-title">Congresos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search/?q=deportes">
        <i class="menu-icon fa fa-trophy"></i>
        <span class="menu-title">Deportes</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search/?q=musica">
        <i class="menu-icon fa fa-music"></i>
        <span class="menu-title">Musica</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search/?q=otros">
        <i class="menu-icon fa fa-graduation-cap"></i>
        <span class="menu-title">Otros</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search/?q=starwars">
        <i class="menu-icon fa fa-rebel"></i>
        <span class="menu-title">#STARWARS</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search/?q=teatro">
        <i class="menu-icon fa fa-institution"></i>
        <span class="menu-title">Teatro</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search/?q=tecnologia">
        <i class="menu-icon fa fa-laptop"></i>
        <span class="menu-title">Tecnologia</span>
      </a>
    </li>
  </ul>
</nav>
