<link rel="stylesheet" href="../../../static/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="../../static/images/faces/face8.jpg" alt="profile image"> </div>
          <div class="text-wrapper">
            <p class="profile-name">{{ user }}</p>
          </div>
          <!-- TODO no va nuevo evento en todos lados -->
        </div>
        <button class="btn btn-success btn-sm btn-block">Mis Eventos
        </button>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/../../events/home">
        <i class="menu-icon fa fa-tag"></i>
        <span class="menu-title">Todos los eventos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/../../events/home">
        <i class="menu-icon fa fa-tags"></i>
        <span class="menu-title">Categorias</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/../error505">
        <i class="menu-icon fa fa-trophy"></i>
        <span class="menu-title">Deportes</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/../error505">
        <i class="menu-icon fa fa-music"></i>
        <span class="menu-title">Musica</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/../error505">
        <i class="menu-icon fa fa-flask"></i>
        <span class="menu-title">Ciencias</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/../error505">
        <i class="menu-icon fa fa-image"></i>
        <span class="menu-title">Arte</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/../error505">
        <i class="menu-icon fa fa-leaf"></i>
        <span class="menu-title">Medio Ambiente</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/../error505">
        <i class="menu-icon fa fa-microphone"></i>
        <span class="menu-title">Conciertos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/../error505">
        <i class="menu-icon fa fa-institution"></i>
        <span class="menu-title">Teatro</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/../error505">
        <i class="menu-icon fa fa-laptop"></i>
        <span class="menu-title">Tecnologia</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/../error505">
        <i class="menu-icon fa fa-wheelchair"></i>
        <span class="menu-title">Concientes</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/../error505">
        <i class="menu-icon fa fa-film"></i>
        <span class="menu-title">Cine</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/../error505">
        <i class="menu-icon fa fa-rebel"></i>
        <span class="menu-title">#STARWARS</span>
      </a>
    </li>
    
    
  </ul>
</nav>
