<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin Premium Bootstrap Admin Dashboard Template</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../../static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../static/vendors/iconfonts/puse-icons-feather/feather.css">
    <link rel="stylesheet" href="../../../static/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../../static/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../../static/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../../static/css/demo_1/style.css">
    <link rel="stylesheet" href="../../../static/css/demo_3/dark-theme.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="../../../static/images/favicon.png" /> </head>
  <body class="dark-theme sidebar-dark">
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      {% include '../../partials/_navbar.html' %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
          {% include '../../partials/_settings-panel.html' %}
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
          {% include '../../partials/_sidebar.html' %}   
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Basic carousel</h4>
                    <div class="owl-carousel owl-theme full-width">
                      <div class="item">
                        <img src="../../../static/images/carousel/banner_12.jpg" alt="banner image" /> </div>
                      <div class="item">
                        <img src="../../../static/images/carousel/banner_2.jpg" alt="banner image" /> </div>
                      <div class="item">
                        <img src="../../../static/images/carousel/banner_1.jpg" alt="banner image" /> </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Carousel with captions</h4>
                    <div class="owl-carousel owl-theme full-width">
                      <div class="item">
                        <div class="card text-white">
                          <img class="card-img" src="../../../static/images/carousel/banner_4.jpg" alt="Card image">
                          <div class="card-img-overlay d-flex">
                            <div class="mt-auto text-center w-100">
                              <h3>Third Slide Label</h3>
                              <h6 class="card-text mb-4 font-weight-normal">Nulla vitae elit libero, a pharetra augue mollis interdum.</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="card text-white">
                          <img class="card-img" src="../../../static/images/carousel/banner_5.jpg" alt="Card image">
                          <div class="card-img-overlay d-flex">
                            <div class="mt-auto text-center w-100">
                              <h3>Third Slide Label</h3>
                              <h6 class="card-text mb-4 font-weight-normal">Nulla vitae elit libero, a pharetra augue mollis interdum.</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="card text-white">
                          <img class="card-img" src="../../../static/images/carousel/banner_6.jpg" alt="Card image">
                          <div class="card-img-overlay d-flex">
                            <div class="mt-auto text-center w-100">
                              <h3>Third Slide Label</h3>
                              <h6 class="card-text mb-4 font-weight-normal">Nulla vitae elit libero, a pharetra augue mollis interdum.</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        <div class="main-panel">
          <div class="content-wrapper"> </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
                <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
                <i class="mdi mdi-heart text-danger"></i>
              </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../../../static/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../../static/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../../static/js/shared/off-canvas.js"></script>
    <script src="../../../static/js/shared/hoverable-collapse.js"></script>
    <script src="../../../static/js/shared/misc.js"></script>
    <script src="../../../static/js/shared/settings.js"></script>
    <script src="../../../static/js/shared/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
  </body>
</html>